{% extends "header.html" %}
{% load static from staticfiles %}
{% block content %}
    <div class="panel panel-default">

        <div class="panel-body">

            <div class="contact-box">
                <h2>Browse Media</h2>
                <p>The .table-bordered class adds borders to a table:</p>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Teaser description</th>
                        <th>How to use</th>
                        <th>Edit detail</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in media %}
                        <tr>
                            <td>{{ item.title }}</td>
                            <td>{{ item.teaserdescription }}</td>
                            <td>{{ item.howtouse }}</td>
                            <td>
                                <form action="#" method="post" enctype="multipart/form-data"> {% csrf_token %}
                                    <input type="hidden" name="item_title" value="{{ item.title }}">
                                    <input name="submit"  type="button" class="btn btn-warning btn-sm" value="edit">
                                </form>

                            </td>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>

        </div>
    </div>
{% endblock %}