<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    {% load staticfiles %}
    <title>PureLight Audio</title>
    <meta name="keywords" content="PureLight Audio"/>
    <meta name="description" content=""/>


    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0"/>
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

    <!-- WEB FONTS : use %7C instead of | (pipe) -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700"
          type="text/css"/>

    <!-- CORE CSS -->
    <link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" type="text/css"/>

    <!-- THEME CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/essentials.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'assets/css/bespoke.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'assets/css/layout.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}" type="text/css"/>

    <!-- PAGE LEVEL SCRIPTS -->
    <link rel="stylesheet" href="{% static 'assets/css/header-1.css' %}" type="text/css"/>


</head>


<body class="smoothscroll">


<!-- wrapper -->
<div id="wrapper">

    <!-- Top Bar -->

    <div id="topBar">
        <div class="container">

            <!-- right -->
            <ul class="top-links list-inline pull-right">
                <li class="text-welcome hidden-xs">Welcome to<strong> {{ healer.healername }}</strong></li>
                <li>
                    <button type="button" class="btn btn-info">Log Out</button>

                </li>
            </ul>

            <!-- left -->
            <!-- Logo -->
            <a class="logo" href="#">
                <img src="{% static '/assets/images/logo.jpg' %}" alt=""/>
            </a>

        </div>
    </div>

    <!-- /Top Bar -->


    <div class="dk-bg">
        <div class="container-block">
            <div id="header" class="header-sm clearfix">

                <!-- TOP NAV -->
                <header id="topNav">
                    <div class="container">

                        <!-- Mobile Menu Button -->
                        <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                            <i class="fa fa-bars"></i>
                        </button>


                        <div class="navbar-collapse pull-left nav-main-collapse collapse">
                            <nav class="nav-main">


                                <ul id="topMain" class="nav nav-pills nav-main">
                                    <li class="dropdown"><!-- MY INFO -->
                                        <a href="my_info.html">My Info</a>

                                    </li>

                                    <li class="dropdown active"><!-- MY AUDIOS -->
                                        <a href="my_audios.html">My Audios</a>

                                    </li>

                                    <li class="dropdown"><!-- MY SALES-->
                                        <a class="dropdown" href="my_sales.html">My Sales</a>

                                    </li>
                                    <li class="dropdown"><!-- BADGES -->
                                        <a class="dropdown" href="badges.html">Badges</a>

                                    </li>


                                </ul>

                            </nav>
                        </div>

                    </div>
                </header>
                <!-- /Top Nav -->

            </div>
            <div id="content" class="padding-20">

                <div class="row">

                    <div class="col-md-12">

                        {% block content %}

                        {% endblock %}

                    </div>


                </div>

            </div>


        </div>
    </div>


    <div class="container">

    </div>


</div>
<!-- /wrapper -->


<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>


<!-- JAVASCRIPT FILES -->
<script type="text/javascript">var plugin_path = "{% static 'assets/plugins/' %}";</script>
<script type="text/javascript" src="{%static 'assets/plugins/jquery/jquery-2.2.3.min.js' %}"></script>
{#<script type="text/javascript" src="{%static 'assets/js/scripts.js' %}"></script>#}


</body>
</html>